In [1]:
#load required packages
import pandas as pd
import re
import datetime
import numpy as np
import math
import pickle
np.random.seed(0)

In [2]:
df = pd.read_csv("Adwords Reporting Dashboard (go-s2aw) - Raw Data (9) 11 july.csv")
df1 = pd.read_csv("Adwords Reporting Dashboard (go-s2aw) - Raw Data (73).csv")
df2 = pd.read_csv("Adwords Reporting Dashboard (go-s2aw) - Raw Data 4th July.csv")
#qa = pd.read_csv("Error split - Quality by case closed week (click to see sector wise trend) (8).csv")
#gc = pd.read_excel("Google Capacity Outlook - WS 16th April-2018 (1).xlsx", sheet_name='Raw Headcount', skiprows=1)

In [3]:
gc = pd.read_excel("Google Capacity Outlook - WS 16th April-2018 (1).xlsx", sheet_name='Raw Headcount', skiprows=1)

In [4]:
qa = pd.read_csv("Error split - Quality by case closed week (click to see sector wise trend) (8).csv")

In [7]:
gc.head()

,LDAP,Status,Empl Id,Name,Gender,Hire_Dt,Location,CNX Email ID,Band,SupID,...,Skill/Cross skill,Trng Start,Trng End,xSPT/AG,xGrouping,YGrouping,XGC,SPOC Ratio Calc,Check,C2
0,atulu,Active,53862,"UPADHYAY,ATUL",M,2006-02-28,GGN,atul.upadhyay@concentrix.com,8B,930343,...,-,-,-,0,-,Supports,Ops Manager,P&E Videos,1,NaN
1,shuklap,Active,85339,"SHUKLA,PRAGYA",F,2007-05-09,GGN,pragya.shukla2@concentrix.com,8A,930343,...,-,-,-,0,-,Supports,Ops Manager,iLCS,1,NaN
2,manubhasin,Active,171579,"BHASIN,MANU",M,2011-03-18,GGN,manu.bhasin@concentrix.com,9B,53862,...,-,-,-,0,-,Supports,Team Leader,P&E Videos,1,NaN
3,gangesh,Active,187763,"-,GANGESH",M,2012-01-10,GGN,gangesh.gangesh@concentrix.com,9A,5030621,...,-,-,-,0,-,Supports,Quality Team Leader,P&E Videos,1,NaN
4,varkum,Active,188834,"KUMAR,VARUN",M,2012-02-09,GGN,kumar.varun@concentrix.com,8A,930343,...,-,-,-,0,-,Supports,Ops Manager,Scaled Abuse,1,NaN

In [8]:
df2.closed_day.head()

0    2018-06-11
1    2018-05-28
2    2018-06-04
3    2018-07-02
4    2018-05-18
Name: closed_day, dtype: object

In [9]:
for i in range(0,len(df1)):
    df1.iloc[i,df1.columns.get_loc("closed_day")] = datetime.datetime.strptime(df1.iloc[i,df1.columns.get_loc("closed_day")], '%m/%d/%Y').strftime('%Y-%m-%d')

In [11]:
df1.closed_day.head()

0    2018-05-16
1    2017-03-17
2    2017-10-09
3    2018-06-05
4    2018-01-24
Name: closed_day, dtype: object

In [12]:
# merge df and df_not dataframes
frames = [df,df1]
df_ = pd.concat(frames)
frames1 = [df_,df2]
df_1 = pd.concat(frames1)

In [13]:
for i in range(0,len(df_1)):
    df_1.iloc[i,12] = datetime.datetime.strptime(df_1.iloc[i,12], '%Y-%m-%d').date()

In [17]:
df_1.iloc[:,12].sort_values(ascending = True).head()

40953    2017-01-01
7289     2017-01-01
42760    2017-01-01
13147    2017-01-01
11728    2017-01-01
Name: closed_day, dtype: object

In [16]:
df_1.iloc[:,12].sort_values(ascending = False).head()

195      2018-07-10
8708     2018-07-10
3336     2018-07-10
10344    2018-07-10
531      2018-07-10
Name: closed_day, dtype: object

In [ ]:
df_1["before_april"] = df_1.closed_day < datetime.datetime.strptime("2018-04-01","%Y-%m-%d").date()

In [ ]:
df_1.before_april.value_counts()

In [ ]:
df_1['a.assignee_username'] = df_1['a.assignee_username'].str.lower()
gc["LDAP"] = gc["LDAP"].str.lower()

In [ ]:
df_1["yes_tenure"] = df_1["a.assignee_username"].isin(ldap)

In [ ]:
df_1.yes_tenure.value_counts()

In [ ]:
df_1 = df_1.reset_index(drop = True)

In [ ]:
df_1.to_csv("df_1.csv", index = False)

In [ ]:
df_1 = pd.read_csv("df_1.csv")

In [ ]:
df_1 = pd.read_csv("df_1.csv")

In [ ]:
df_1.head()

In [ ]:
df_1.yes_tenure.value_counts()

In [ ]:
df_1 = df_1[df_1.yes_tenure == True]

In [ ]:
df_1.yes_tenure.value_counts()

In [ ]:
index = np.where(gc.LDAP == df_1.iloc[100,0])

In [ ]:
index[0][0]

In [ ]:
gc.loc[[index[0][0]]]["Tenure"].values[0]

In [ ]:
ldap = gc.LDAP.tolist()
ldap

In [ ]:
tenure = []
for i in range(0,len(df_1)):
    index = np.where(gc.LDAP == df_1.iloc[i,0])
    if df_1.iloc[i,0] in ldap:
        tenure.append(gc.loc[[index[0][0]]]["Tenure"].values[0])
    else:
        df_1.drop(df_1.drop[index[0][0]])

In [ ]:
print(len(df_1))
len(tenure)

In [ ]:
df_1.columns

In [ ]:
df_1["tenure"] = tenure

In [ ]:
df_1.tenure.head()

In [ ]:
df_1.to_csv("df_1.csv", index = False)

In [144]:
df_1 = pd.read_csv("df_1.csv")

In [145]:
df_1 = df_1.fillna(0)

In [146]:
df_1.csat_score.head()

0    6.0
1    6.0
2    0.0
3    7.0
4    0.0
Name: csat_score, dtype: float64

In [147]:
len(df_1)

71768

In [148]:
df_1 = df_1[df_1.csat_score != 0]

In [149]:
len(df_1)

13172

In [150]:
df_1.csat_score.value_counts()

7.0    8603
6.0    3837
1.0     201
5.0     148
4.0     138
3.0     129
2.0     116
Name: csat_score, dtype: int64

In [151]:
ix = df_1.columns.get_loc("csat_score")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] >5:
        df_1.iloc[i,ix] = 0
    else:
        df_1.iloc[i,ix] = 1

In [ ]:
v1 = pd.DataFrame(df_1.groupby(['sub_region','csat_score']).size())
v1.to_csv("intera.csv")
v = pd.DataFrame(df_1["sub_region"].value_counts())
v.to_csv("v.csv")

In [10]:
df_1.columns

Index(['a.assignee_username', 'a.customer_country', 'a.start_timestamp',
       'a.submitter_username', 'a.total_number_of_interactions',
       'adelphi_due_date', 'adelphi_due_date_checked',
       'adelphi_due_date_timestamp', 'b.msp', 'bulk_flag',
       ...
       'subject_line', 'until_which_date', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'within_due_date', 'youtube_report_category',
       'before_april', 'yes_tenure', 'tenure'],
      dtype='object', length=106)

In [152]:
cols = pd.read_excel("C:\\Users\\prashant.sinha3\\Documents\\work\\me\\S2\\data\\S2_variables_1.xlsx", sheet_name="S2_variables_1")

In [153]:
columns = cols["Variables"][cols.Flag == "y"]

In [154]:
columns = columns.tolist()

In [155]:
columns

['a.total_number_of_interactions',
 'bulk_flag',
 'child',
 'csat_score',
 'frequency_of_report',
 'GDN_report_category',
 'is_neon',
 'master_case_flag',
 'Parent_flag',
 'priority',
 'recurring_flag',
 'region',
 'reporting_product_type',
 'search_report_category',
 'sector',
 'service_type',
 'sub_region',
 'sub_sector',
 'urgent_flag',
 'vertical',
 'vertical_cerebro',
 'youtube_report_category',
 'tenure']

In [156]:
df_1 = df_1.loc[:,columns]

In [157]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [158]:
l_vertical = pd.read_excel("EDA.xlsx", sheet_name="vertical", usecols=[5,6])

In [159]:
l_vertical = l_vertical[~l_vertical.count__.isna()]

In [160]:
l_vertical

                                              vertical  count__
0                                     Food & Beverages   1267.0
1                                               Retail   1142.0
2                         Food, Beverages, Restaurants   1114.0
3                                Media & Entertainment    750.0
4                              Consumer Packaged Goods    738.0
5                                               Travel    627.0
6                                 Home & Personal Care    607.0
7                               Services All Verticals    591.0
8                                           Technology    403.0
9                                   Retail - Specialty    394.0
10                                          Automotive    392.0
11                              Education & Government    291.0
12                          Branded Apparel & Durables    291.0
13                                                Home    249.0
14                                  Retail - Pure Play    246.0
15                                    Gov't & Advocacy    232.0
16                                Technology - Telecom    199.0
17                                                 App    182.0
18                                             Finance    175.0
19                   Technology - Consumer Electronics    173.0
20                         Personals, IAC, and Careers    172.0
21                           Financial Services - East    160.0
22                                 Travel - Jetsetters    143.0
23                                    Retail - Big Box    132.0
24                                          Automakers    127.0
25                                         GB - ReTech    126.0
26                             GB - Finance & Services    114.0
27                       Business & Industrial Markets    113.0
28                                        Pharma & OTC    103.0
29                                 Classifieds & Local     91.0
..                                                 ...      ...
72                                     ES - Performers     12.0
73                   Tech/Telco, Entertainment & Local     11.0
74                                           Household      9.0
75                                     CN - Exp Retail      8.0
76                                          AU - T-Rex      8.0
77                                    NZ - New Zealand      7.0
78                                    DE - Accelerator      6.0
79                                              Mexico      6.0
80   Apparel & Accessories > Other (Apparel & Acces...      4.0
81               Food & Beverage > Supermarket/Grocery      4.0
82                                    JP - L&B/C&E/ENT      4.0
83                                           Insurance      4.0
84                                         AU - Psi-Fi      3.0
85                                                CG&E      3.0
86                                              Evolve      3.0
87                              Multichannel Solutions      2.0
88                                     ID - Unsectored      2.0
89                                     AE - CPG & Auto      2.0
90                         NL - Performance next Level      2.0
91                                JP - Tel/Tech/Fin/RE      1.0
92                                            Colombia      1.0
93   Multi Good Retailers > Comparison Shopping / A...      1.0
94                                         DE - Retail      1.0
95                                  JP - Retail/Travel      1.0
96                                            FR - FAB      1.0
97                               Finance - Wall Street      1.0
98                                          Government      1.0
99                                           Ticketing      1.0
100                            Home > Home Furnishings      1.0
101                        IN - Multichannel Solutions      1.0

[102 rows x 2 columns]

In [161]:
l_vertical = l_vertical[l_vertical.count__ > 150]

In [162]:
l_vertical = l_vertical.loc[:,"vertical"].tolist()

In [163]:
l_vertical

['Food & Beverages',
 'Retail',
 'Food, Beverages, Restaurants',
 'Media & Entertainment',
 'Consumer Packaged Goods',
 'Travel',
 'Home & Personal Care',
 'Services All Verticals',
 'Technology',
 'Retail - Specialty',
 'Automotive',
 'Education & Government',
 'Branded Apparel & Durables',
 'Home',
 'Retail - Pure Play',
 "Gov't & Advocacy",
 'Technology - Telecom',
 'App',
 'Finance',
 'Technology - Consumer Electronics',
 'Personals, IAC, and Careers',
 'Financial Services - East']

In [164]:
with open("l_vertical.txt", "wb") as fp:
    pickle.dump(l_vertical, fp)

In [165]:
len(df_1)

13172

In [166]:
df_1 = df_1[df_1.vertical.isin(l_vertical)]

In [167]:
len(df_1)

10395

In [168]:
l_subsector = pd.read_excel("EDA.xlsx", sheet_name="sub_sector", usecols=[4,5])
l_subsector = l_subsector[~l_subsector.count__.isna()]
l_subsector = l_subsector[l_subsector.count__ > 150]
l_subsector = l_subsector.loc[:,"sub_sector"].tolist()
with open("l_subsector.txt", "wb") as fp:
    pickle.dump(l_subsector, fp)

In [169]:
l_subsector

['Food',
 0,
 'Home & Personal Care',
 'Retail - Specialty',
 'Branded Apparel & Durables',
 'Media & Entertainment',
 'Technology - Telecom',
 'Retail - Pure Play',
 'Travel - Jetsetters',
 'App',
 'Automotive 2',
 "Gov't & Advocacy",
 'Retail - Big Box',
 'Automotive 1',
 'Retail',
 'Personals',
 'Technology - Consumer Electronics',
 'Financial Services - East',
 'Home & Consumer Services',
 'Pharma & OTC']

In [170]:
df_1 = df_1[df_1.sub_sector.isin(l_subsector)]

In [171]:
len(df_1)

9729

In [172]:
l_vc = pd.read_excel("EDA.xlsx", sheet_name="vertical_cerebro", usecols=[5,6])
l_vc = l_vc[~l_vc.count__.isna()]
l_vc = l_vc[l_vc.count__ > 150]
l_vc = l_vc.loc[:,"vertical_cerebro"].tolist()
with open("l_vc.txt", "wb") as fp:
    pickle.dump(l_vc, fp)

In [173]:
df_1 = df_1[df_1.vertical_cerebro.isin(l_vc)]
len(df_1)

9638

In [174]:
l_spc = pd.read_excel("EDA.xlsx", sheet_name="search_report_category", usecols=[4,5])
l_spc = l_spc[~l_spc.count__.isna()]
l_spc = l_spc[l_spc.count__ > 150]
l_spc = l_spc.loc[:,"search_report_category"].tolist()
with open("l_spc.txt", "wb") as fp:
    pickle.dump(l_spc, fp)

In [175]:
df_1 = df_1[df_1.search_report_category.isin(l_spc)]
len(df_1)

9350

In [176]:
l_sector = pd.read_excel("EDA.xlsx", sheet_name="sector", usecols=[5,6])
l_sector = l_sector[~l_sector.count__.isna()]
l_sector = l_sector[l_sector.count__ > 150]
l_sector = l_sector.loc[:,"sector"].tolist()
with open("l_sector.txt", "wb") as fp:
    pickle.dump(l_sector, fp)

In [177]:
df_1 = df_1[df_1.sector.isin(l_sector)]
len(df_1)

9128

In [178]:
df_1 = df_1[~df_1.reporting_product_type.isin(["data_studio",0])]

In [179]:
df_1.reporting_product_type.value_counts()

search     5048
youtube    3023
gdn         877
Name: reporting_product_type, dtype: int64

In [180]:
l_yrc = pd.read_excel("EDA.xlsx", sheet_name="youtube_report_category", usecols=[5,6])
l_yrc = l_yrc[~l_yrc.count__.isna()]
l_yrc = l_yrc[l_yrc.count__ > 150]
l_yrc = l_yrc.loc[:,"youtube_report_category"].tolist()
with open("l_yrc.txt", "wb") as fp:
    pickle.dump(l_yrc, fp)

In [181]:
l_yrc

[0, 'custom', 'account_audit_performance', 'reserve_auction']

In [182]:
df_1 = df_1[df_1.youtube_report_category.isin(l_yrc)]
len(df_1)

8824

In [183]:
df_1 = df_1[~df_1.GDN_report_category.isin(["ad_format_extensions","mobile"])]

In [184]:
len(df_1)

8809

In [185]:
df_1 = df_1[df_1.sub_region.isin(["United States (Region)","UK/IE","SEA","Canada (Region)","Russia/Middle East/Africa","AU/NZ","FR/IT/ES/PT"])]

In [186]:
len(df_1)

8809

In [187]:
df_1.sub_region.value_counts()

United States (Region)    8632
UK/IE                      128
SEA                         37
Canada (Region)             12
Name: sub_region, dtype: int64

In [188]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [189]:
df_1["a.total_number_of_interactions"].value_counts()

1     7063
2     1103
3      340
4      135
0       65
5       53
6       22
7       13
8        9
12       3
10       3
Name: a.total_number_of_interactions, dtype: int64

In [190]:
df_1.groupby(['a.total_number_of_interactions','csat_score']).size()

a.total_number_of_interactions  csat_score
0                               0.0             65
1                               0.0           6827
                                1.0            236
2                               0.0           1010
                                1.0             93
3                               0.0            284
                                1.0             56
4                               0.0            100
                                1.0             35
5                               0.0             40
                                1.0             13
6                               0.0             15
                                1.0              7
7                               0.0             10
                                1.0              3
8                               0.0              8
                                1.0              1
10                              0.0              3
12                              0.0              3
dtype: int64

In [191]:
ix = df_1.columns.get_loc("a.total_number_of_interactions")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] > 7:
        df_1.iloc[i,ix] = 8

In [192]:
df_1["a.total_number_of_interactions"].value_counts()

1    7063
2    1103
3     340
4     135
0      65
5      53
6      22
8      15
7      13
Name: a.total_number_of_interactions, dtype: int64

In [193]:
df_1.bulk_flag.value_counts()

False    7222
True     1587
Name: bulk_flag, dtype: int64

In [194]:
ix = df_1.columns.get_loc("bulk_flag")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == True:
        df_1.iloc[i,ix] = 1
    else:
        df_1.iloc[i,ix] = 0

In [195]:
df_1.bulk_flag.value_counts()

0    7222
1    1587
Name: bulk_flag, dtype: int64

In [196]:
ix = df_1.columns.get_loc("child")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] !=0:
        df_1.iloc[i,ix] = 1

In [197]:
df_1.csat_score.value_counts()

0.0    8365
1.0     444
Name: csat_score, dtype: int64

In [198]:
df_1.frequency_of_report.value_counts()

weekly     3648
0          3454
daily      1114
monthly     593
Name: frequency_of_report, dtype: int64

In [199]:
df_1.groupby(['frequency_of_report','csat_score']).size()

frequency_of_report  csat_score
0                    0.0           3200
                     1.0            254
daily                0.0           1110
                     1.0              4
monthly              0.0            537
                     1.0             56
weekly               0.0           3518
                     1.0            130
dtype: int64

In [200]:
ix = df_1.columns.get_loc("frequency_of_report")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "daily":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "monthly":
        df_1.iloc[i,ix] = 2
    elif df_1.iloc[i,ix] == "weekly":
        df_1.iloc[i,ix] = 3

In [201]:
df_1.frequency_of_report.value_counts()

3    3648
0    3454
1    1114
2     593
Name: frequency_of_report, dtype: int64

In [202]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [203]:
df_1.groupby(['GDN_report_category','csat_score']).size()

GDN_report_category    csat_score
0                      0.0           7095
                       1.0            396
budget                 0.0            527
custom                 0.0            540
                       1.0             42
mapps                  0.0            105
targeting_performance  0.0             98
                       1.0              6
dtype: int64

In [204]:
ix = df_1.columns.get_loc("GDN_report_category")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "budget":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "custom":
        df_1.iloc[i,ix] = 2
    elif df_1.iloc[i,ix] == "mapps":
        df_1.iloc[i,ix] = 3
    elif df_1.iloc[i,ix] == "targeting_performance":
        df_1.iloc[i,ix] = 4

In [205]:
df_1.groupby(['GDN_report_category','csat_score']).size()

GDN_report_category  csat_score
0                    0.0           7095
                     1.0            396
1                    0.0            527
2                    0.0            540
                     1.0             42
3                    0.0            105
4                    0.0             98
                     1.0              6
dtype: int64

In [206]:
df_1.groupby(['is_neon','csat_score']).size()

is_neon  csat_score
no       0.0           8328
         1.0            436
yes      0.0             37
         1.0              8
dtype: int64

In [207]:
ix = df_1.columns.get_loc("is_neon")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "no":
        df_1.iloc[i,ix] = 0
    else:
        df_1.iloc[i,ix] = 1

In [208]:
df_1.groupby(['is_neon','csat_score']).size()

is_neon  csat_score
0        0.0           8328
         1.0            436
1        0.0             37
         1.0              8
dtype: int64

In [209]:
df_1.groupby(['master_case_flag','csat_score']).size()

master_case_flag  csat_score
False             0.0           2388
                  1.0            129
True              0.0           5977
                  1.0            315
dtype: int64

In [210]:
ix = df_1.columns.get_loc("master_case_flag")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == False:
        df_1.iloc[i,ix] = 0
    else:
        df_1.iloc[i,ix] = 1

In [211]:
df_1.groupby(['master_case_flag','csat_score']).size()

master_case_flag  csat_score
0                 0.0           2388
                  1.0            129
1                 0.0           5977
                  1.0            315
dtype: int64

In [212]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [213]:
df_1.Parent_flag.value_counts()

False    6691
True     2118
Name: Parent_flag, dtype: int64

In [214]:
ix = df_1.columns.get_loc("Parent_flag")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == False:
        df_1.iloc[i,ix] = 0
    else:
        df_1.iloc[i,ix] = 1

In [215]:
df_1.Parent_flag.value_counts()

0    6691
1    2118
Name: Parent_flag, dtype: int64

In [216]:
df_1.priority.value_counts()

Normal    5287
Urgent    2407
Null      1115
Name: priority, dtype: int64

In [217]:
df_2 = df_1.copy()

In [218]:
ix = df_1.columns.get_loc("priority")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "Normal":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "Urgent":
        df_1.iloc[i,ix] = 2
    else:
        df_1.iloc[i,ix] = 0

In [219]:
df_1.priority.value_counts()

1    5287
2    2407
0    1115
Name: priority, dtype: int64

In [220]:
df_1.recurring_flag.value_counts()

yes    5355
no     3454
Name: recurring_flag, dtype: int64

In [221]:
ix = df_1.columns.get_loc("recurring_flag")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "no":
        df_1.iloc[i,ix] = 0
    else:
        df_1.iloc[i,ix] = 1

In [222]:
df_1.recurring_flag.value_counts()

1    5355
0    3454
Name: recurring_flag, dtype: int64

In [223]:
df_1.groupby(['region','csat_score']).size()

region    csat_score
APAC      0.0             32
          1.0              5
Americas  0.0           8211
          1.0            433
EMEA      0.0            122
          1.0              6
dtype: int64

In [224]:
ix = df_1.columns.get_loc("region")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "APAC":
        df_1.iloc[i,ix] = 0
    elif df_1.iloc[i,ix] == "Americas":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "EMEA":
        df_1.iloc[i,ix] = 2

In [225]:
df_1.groupby(['region','csat_score']).size()

region  csat_score
0       0.0             32
        1.0              5
1       0.0           8211
        1.0            433
2       0.0            122
        1.0              6
dtype: int64

In [226]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [86]:
df_1.groupby(['reporting_product_type','csat_score']).size()

reporting_product_type  csat_score
gdn                     0.0            826
                        1.0             34
search                  0.0           4819
                        1.0            228
youtube                 0.0           2720
                        1.0            182
dtype: int64

In [87]:
df_2 = df_1.copy()

In [227]:
ix = df_1.columns.get_loc("reporting_product_type")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "gdn":
        df_1.iloc[i,ix] = 0
    elif df_1.iloc[i,ix] == "search":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "youtube":
        df_1.iloc[i,ix] = 2

In [228]:
df_1.groupby(['reporting_product_type','csat_score']).size()

reporting_product_type  csat_score
0                       0.0            826
                        1.0             34
1                       0.0           4819
                        1.0            228
2                       0.0           2720
                        1.0            182
dtype: int64

In [229]:
df_1.groupby(['search_report_category','csat_score']).size()

search_report_category  csat_score
0                       0.0           3468
                        1.0            207
account_audit           0.0           1194
                        1.0             43
ad_text                 0.0             82
                        1.0              3
auction_insights        0.0            304
                        1.0             24
audience_audit          0.0            147
                        1.0             20
budget                  0.0            776
                        1.0              5
custom                  0.0           2219
                        1.0            138
ropps_vendorization     0.0            175
                        1.0              4
dtype: int64

In [91]:
df_2 = df_1.copy()

In [230]:
ix = df_1.columns.get_loc("search_report_category")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "account_audit":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "ad_text":
        df_1.iloc[i,ix] = 2
    elif df_1.iloc[i,ix] == "auction_insights":
        df_1.iloc[i,ix] = 3
    elif df_1.iloc[i,ix] == "audience_audit":
        df_1.iloc[i,ix] = 4
    elif df_1.iloc[i,ix] == "budget":
        df_1.iloc[i,ix] = 5
    elif df_1.iloc[i,ix] == "custom":
        df_1.iloc[i,ix] = 6
    elif df_1.iloc[i,ix] == "ropps_vendorization":
        df_1.iloc[i,ix] = 7

In [231]:
df_1.groupby(['search_report_category','csat_score']).size()

search_report_category  csat_score
0                       0.0           3468
                        1.0            207
1                       0.0           1194
                        1.0             43
2                       0.0             82
                        1.0              3
3                       0.0            304
                        1.0             24
4                       0.0            147
                        1.0             20
5                       0.0            776
                        1.0              5
6                       0.0           2219
                        1.0            138
7                       0.0            175
                        1.0              4
dtype: int64

In [94]:
df_1.columns

Index(['a.total_number_of_interactions', 'bulk_flag', 'child', 'csat_score',
       'frequency_of_report', 'GDN_report_category', 'is_neon',
       'master_case_flag', 'Parent_flag', 'priority', 'recurring_flag',
       'region', 'reporting_product_type', 'search_report_category', 'sector',
       'service_type', 'sub_region', 'sub_sector', 'urgent_flag', 'vertical',
       'vertical_cerebro', 'youtube_report_category', 'tenure'],
      dtype='object')

In [232]:
v_df = ["vertical","sub_sector","a.total_number_of_interactions","vertical_cerebro","search_report_category","sector","priority",
       "child","tenure","reporting_product_type","frequency_of_report","youtube_report_category","GDN_report_category","bulk_flag",
       "urgent_flag","Parent_flag","sub_region","recurring_flag","csat_score","master_case_flag","is_neon"]

In [235]:
ix = df_1.columns.get_loc("vertical")
vertical = df_1.vertical.unique().tolist()
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] in vertical:
        df_1.iloc[i,ix] = vertical.index(df_1.iloc[i,ix])

In [238]:
with open("vertical.txt", "wb") as fp:
    pickle.dump(vertical, fp)

In [239]:
df_1.vertical.value_counts()

18    1246
5     1032
1      965
3      626
0      556
17     532
4      525
2      370
15     369
9      338
13     328
8      263
20     249
14     221
16     198
11     179
6      169
7      166
10     157
19     144
21     118
12      58
Name: vertical, dtype: int64

In [240]:
df_1 = df_1.loc[:,v_df]

In [241]:
df_1.columns

Index(['vertical', 'sub_sector', 'a.total_number_of_interactions',
       'vertical_cerebro', 'search_report_category', 'sector', 'priority',
       'child', 'tenure', 'reporting_product_type', 'frequency_of_report',
       'youtube_report_category', 'GDN_report_category', 'bulk_flag',
       'urgent_flag', 'Parent_flag', 'sub_region', 'recurring_flag',
       'csat_score', 'master_case_flag', 'is_neon'],
      dtype='object')

In [242]:
df_1.sub_sector.value_counts()

Food                                 2329
Home & Personal Care                 1005
Branded Apparel & Durables            762
Retail - Specialty                    739
Media & Entertainment                 626
Technology - Telecom                  530
App                                   422
Retail - Pure Play                    391
Gov't & Advocacy                      343
Travel - Jetsetters                   328
Automotive 2                          245
Retail - Big Box                      218
Financial Services - East             204
Technology - Consumer Electronics     178
Personals                             144
Automotive 1                          125
0                                     112
Retail                                 65
Home & Consumer Services               43
Name: sub_sector, dtype: int64

In [243]:
ix = df_1.columns.get_loc("sub_sector")
sub_sector = df_1.sub_sector.unique().tolist()
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] in sub_sector:
        df_1.iloc[i,ix] = sub_sector.index(df_1.iloc[i,ix])
with open("sub_sector.txt", "wb") as fp:
    pickle.dump(sub_sector, fp)

In [244]:
df_1.sub_sector.value_counts()

6     2329
0     1005
2      762
4      739
5      626
7      530
9      422
11     391
13     343
12     328
3      245
1      218
10     204
15     178
16     144
8      125
14     112
18      65
17      43
Name: sub_sector, dtype: int64

In [245]:
df_1.vertical_cerebro.value_counts()

Food & Beverages           2181
Retail                     1501
Consumer Packaged Goods     986
Services All Verticals      954
Media & Entertainment       626
Technology                  583
Education & Government      419
Automotive                  370
Travel                      328
Home                        303
Finance                     215
Personal Care               199
Classifieds & Local         144
Name: vertical_cerebro, dtype: int64

In [246]:
ix = df_1.columns.get_loc("vertical_cerebro")
vertical_cerebro = df_1.vertical_cerebro.unique().tolist()
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] in vertical_cerebro:
        df_1.iloc[i,ix] = vertical_cerebro.index(df_1.iloc[i,ix])
with open("vertical_cerebro.txt", "wb") as fp:
    pickle.dump(vertical_cerebro, fp)

In [247]:
df_1.vertical_cerebro.value_counts()

11    2181
1     1501
0      986
4      954
3      626
6      583
9      419
2      370
8      328
10     303
7      215
5      199
12     144
Name: vertical_cerebro, dtype: int64

In [248]:
df_1.sector.value_counts()

Consumer                             5435
Multichannel Solutions               2068
Services & Distribution Solutions     609
Integrated Solutions                  532
Unsectored                             69
ReTech                                 53
Finance & Services                     43
Name: sector, dtype: int64

In [249]:
df_1.columns

Index(['vertical', 'sub_sector', 'a.total_number_of_interactions',
       'vertical_cerebro', 'search_report_category', 'sector', 'priority',
       'child', 'tenure', 'reporting_product_type', 'frequency_of_report',
       'youtube_report_category', 'GDN_report_category', 'bulk_flag',
       'urgent_flag', 'Parent_flag', 'sub_region', 'recurring_flag',
       'csat_score', 'master_case_flag', 'is_neon'],
      dtype='object')

In [250]:
df_2 = df_1.copy()

In [251]:
ix = df_1.columns.get_loc("sector")
sector = df_1.sector.unique().tolist()
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] in sector:
        df_1.iloc[i,ix] = sector.index(df_1.iloc[i,ix])
with open("sector.txt", "wb") as fp:
    pickle.dump(sector, fp)

In [252]:
df_1.sector.value_counts()

0    5435
1    2068
2     609
3     532
5      69
6      53
4      43
Name: sector, dtype: int64

In [253]:
df_1.tenure.value_counts()

> 1 Year       6503
6-12 Months    2280
1-2 Months       23
3-6 Months        3
Name: tenure, dtype: int64

In [254]:
ix = df_1.columns.get_loc("tenure")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "> 1 Year":
        df_1.iloc[i,ix] = 3
    elif df_1.iloc[i,ix] == "6-12 Months":
        df_1.iloc[i,ix] = 2
    elif df_1.iloc[i,ix] == "1-2 Months":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "3-6 Months":
        df_1.iloc[i,ix] = 0

In [255]:
df_1.tenure.value_counts()

3    6503
2    2280
1      23
0       3
Name: tenure, dtype: int64

In [256]:
df_1.columns

Index(['vertical', 'sub_sector', 'a.total_number_of_interactions',
       'vertical_cerebro', 'search_report_category', 'sector', 'priority',
       'child', 'tenure', 'reporting_product_type', 'frequency_of_report',
       'youtube_report_category', 'GDN_report_category', 'bulk_flag',
       'urgent_flag', 'Parent_flag', 'sub_region', 'recurring_flag',
       'csat_score', 'master_case_flag', 'is_neon'],
      dtype='object')

In [257]:
df_1.sub_region.value_counts()

United States (Region)    8632
UK/IE                      128
SEA                         37
Canada (Region)             12
Name: sub_region, dtype: int64

In [258]:
df_1.youtube_report_category.value_counts()

0                            5340
custom                       2452
account_audit_performance     877
reserve_auction               140
Name: youtube_report_category, dtype: int64

In [259]:
ix = df_1.columns.get_loc("youtube_report_category")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == "custom":
        df_1.iloc[i,ix] = 1
    elif df_1.iloc[i,ix] == "account_audit_performance":
        df_1.iloc[i,ix] = 2
    elif df_1.iloc[i,ix] == "reserve_auction":
        df_1.iloc[i,ix] = 3

In [260]:
df_1.youtube_report_category.value_counts()

0    5340
1    2452
2     877
3     140
Name: youtube_report_category, dtype: int64

In [261]:
df_2 = df_1.copy()

In [262]:
ix = df_1.columns.get_loc("urgent_flag")
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] == False:
        df_1.iloc[i,ix] = 0
    else :
        df_1.iloc[i,ix] = 1

In [263]:
df_1.urgent_flag.value_counts()

0    6402
1    2407
Name: urgent_flag, dtype: int64

In [264]:
df_1.sub_region.value_counts()

United States (Region)    8632
UK/IE                      128
SEA                         37
Canada (Region)             12
Name: sub_region, dtype: int64

In [265]:
df_2 = df_1.copy()

In [266]:
ix = df_1.columns.get_loc("sub_region")
sub_region = df_1.sub_region.unique().tolist()
for i in range(0,len(df_1)):
    if df_1.iloc[i,ix] in sub_region:
        df_1.iloc[i,ix] = sub_region.index(df_1.iloc[i,ix])
with open("sub_region.txt", "wb") as fp:
    pickle.dump(sub_region, fp)

In [267]:
df_1.sub_region.value_counts()

0    8632
1     128
2      37
3      12
Name: sub_region, dtype: int64

In [269]:
df_1.to_csv("df_train.csv", index = False)

In [19]:
df_train = pd.read_csv("df_train.csv")

In [20]:
len(df_train)

8809

In [21]:
df_train.csat_score.value_counts()

0.0    8365
1.0     444
Name: csat_score, dtype: int64