In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_excel("aditya_Data_Train_test2.xlsx", sheet_name="Sheet3")

In [50]:
df.head()

                                             CONTENT         Category
0  '@NestleIndiaCare Deepak aggarwal Mob: 9811480...            Query
1  #NewIndia_DowryFree @NestleMunch  @PawanKalyan...             Junk
2  '@NestleIndiaCare who delivered the pack to me...  Good_Experience
3  '@NestleIndiaCare and promised to come back to...            Query
4  '@NestleIndiaCare people in Delhi don't drink ...       Suggestion

In [17]:
df = df[~df.WORKFLOW_CLASSIFICATION.isna()]

In [51]:
df["content_new"] = " "

In [52]:
str(df.iloc[0,0])

"'@NestleIndiaCare Deepak aggarwal Mob: 9811480414'"

In [53]:
str(df.iloc[0,0]).replace("'","")

'@NestleIndiaCare Deepak aggarwal Mob: 9811480414'

In [58]:
df.head()

,CONTENT,Category,content_new
0,'@NestleIndiaCare Deepak aggarwal Mob: 9811480...,Query,__label__Query @NestleIndiaCare Deepak aggarwa...
1,#NewIndia_DowryFree @NestleMunch @PawanKalyan...,Junk,__label__Junk #NewIndia_DowryFree @NestleMunch...
2,'@NestleIndiaCare who delivered the pack to me...,Good_Experience,__label__Good_Experience @NestleIndiaCare who ...
3,'@NestleIndiaCare and promised to come back to...,Query,__label__Query @NestleIndiaCare and promised t...
4,'@NestleIndiaCare people in Delhi don't drink ...,Suggestion,__label__Suggestion @NestleIndiaCare people in...

In [59]:
df.shape

(59944, 3)

In [56]:
ix = df.columns.get_loc("CONTENT")
ix1 = df.columns.get_loc("Category")
ix2 = df.columns.get_loc("content_new")
for i in range(0,len(df)):
    df.iloc[i,ix2] = "__label__" + df.iloc[i,ix1] + " " + str(df.iloc[i,ix]).replace("'","")

In [60]:
df.head()

,CONTENT,Category,content_new
0,'@NestleIndiaCare Deepak aggarwal Mob: 9811480...,Query,__label__Query @NestleIndiaCare Deepak aggarwa...
1,#NewIndia_DowryFree @NestleMunch @PawanKalyan...,Junk,__label__Junk #NewIndia_DowryFree @NestleMunch...
2,'@NestleIndiaCare who delivered the pack to me...,Good_Experience,__label__Good_Experience @NestleIndiaCare who ...
3,'@NestleIndiaCare and promised to come back to...,Query,__label__Query @NestleIndiaCare and promised t...
4,'@NestleIndiaCare people in Delhi don't drink ...,Suggestion,__label__Suggestion @NestleIndiaCare people in...

In [61]:
df = df.drop(["CONTENT"], axis = 1)

In [66]:
df.head()

          Category                                        content_new
0            Query  __label__Query @NestleIndiaCare Deepak aggarwa...
1             Junk  __label__Junk #NewIndia_DowryFree @NestleMunch...
2  Good_Experience  __label__Good_Experience @NestleIndiaCare who ...
3            Query  __label__Query @NestleIndiaCare and promised t...
4       Suggestion  __label__Suggestion @NestleIndiaCare people in...

In [69]:
df.to_csv("df_final3.csv", header=True, index=False)#, sep=' ', mode='a')

In [68]:
df.columns

Index(['Category', 'content_new'], dtype='object')

In [13]:
df.to_csv("df_final_2_nona.csv", index = False)

In [19]:
df.head()

                                             CONTENT WORKFLOW_CLASSIFICATION
0  '@AGG2029 Hi! Thank you for sharing your conta...    SALES & DISTRIBUTION
1  '@NestleIndiaCare Deepak aggarwal Mob: 9811480...    SALES & DISTRIBUTION
2  '@AGG2029 Hi, we would like to get in touch wi...         Product Mention
3                                           Ok great         Product Mention
4  #NewIndia_DowryFree @NestleMunch  @PawanKalyan...                    Junk

In [20]:
str(df.iloc[0,0]).replace("'","")

'@AGG2029 Hi! Thank you for sharing your contact details. Our team will get in touch with you.'

In [21]:
for i in range(0,len(df)):
    df.iloc[i,0] = str(df.iloc[i,0]).replace("'","")

In [30]:
classes = list(set(df.WORKFLOW_CLASSIFICATION.tolist()))

In [32]:
classes_i = []
for i in range(0,len(classes)):
    classes_i.append(i)

In [31]:
len(classes)

31

In [35]:
ix = df.columns.get_loc("WORKFLOW_CLASSIFICATION")
for i in range(0,len(df)):
    df.iloc[i,ix] = classes.index(df.iloc[i,ix])

In [37]:
df.head()

                                             CONTENT WORKFLOW_CLASSIFICATION
0  @AGG2029 Hi! Thank you for sharing your contac...                      29
1   @NestleIndiaCare Deepak aggarwal Mob: 9811480414                      29
2  @AGG2029 Hi, we would like to get in touch wit...                      14
3                                           Ok great                      14
4  #NewIndia_DowryFree @NestleMunch  @PawanKalyan...                       7

In [38]:
df.to_csv("df_cnn.csv", index = False)